body {
  background-color: #fbfbfd;
  .App {
    .App-logo {
      height: 40vmin;
      pointer-events: none;
    }
    .App-header {
      background-color: #282c34;
      min-height: 20vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
      h1 {
        @media screen and (max-width: 500px) {
          font-size: 1.5em;
        }
      }
    }
    .App-link {
      color: #61dafb;
    }
    .Nav {
      .Nav-button {
        cursor: pointer;
        font-size: 50px;
        position: absolute;
        top: 7%;
        left: 5%;
        color: white;
      }
    }
    main {
      margin-top: 3%;
      .List {
        width: 90%;
        margin: 0 auto;
        &-Complete {
          .ListItem {
            .Card {
              opacity: 0.5;
            }
          }
        }
        .ListItem {
          margin-bottom: 3%;
          .Card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            &-header {
              width: 70%;
              padding: 15px;
                h2 {
                  margin: 0;
                  color: black;
                  border: 2px solid white;
                  &:focus {
                    outline: none;
                    border: 2px solid lightblue;
                  }
                  @media screen and (max-width: 500px) {
                    font-size: 1.2em;
                  }
                }
                div {
                  border: 2px solid white;
                  color: gray;
                }
            }
            &-action {
              flex-direction: row-reverse;
              width: 15%;
            }
            &-content {
              width: 100%;
              &-text {
                border: 2px solid white;
                &:focus {
                  outline: none;
                  border: 2px solid lightblue;
                }
              }
            }
          }
        }
        button {
          .expand {
            transition: all .3s ease;
            transform: rotate(0deg);
          }
          .expandOpen {
            transition: all .3s ease;
            transform: rotate(180deg);
          }
        }
      }
    }
    .Modal-wrapper {
      position: absolute;
      right: 3%;
      top: 5%;
      z-index: 10;
      button {
        color: white;
        svg {
          font-size: 3.5rem;
        }
      }
    }
  }
  // drawer
  .MuiDrawer-paperAnchorLeft {
    width: 90px;
    .Drawer-button {
      cursor: pointer;
      font-size: 50px;
      margin: 15px auto;
      color: #282c34
    }
  }
  // login form
  .Login-form {
    text-align: center;
    .MuiGrid-item {
      margin-bottom: 20px;
    }
    .Login-button {
      margin-top: 20px;
    }
    .errorMessage {
      color: red;
    }
  }
}
.Modal-body {
  width: 80%;
  margin: 0 auto;
  top: 10%;
  position: relative;
  padding: 20px;
  background: white;
  border-radius: 5px;
  text-align: center;
  &:focus {
    outline: none;
  }
}
form {
  .input-text {
    width: 100%;
    max-width: 600px;
  }
}
.MuiGrid-item {
  padding-bottom: 20px;
}